:root {
  --white: #ededed;
  --off-white: #e5e5e5;

  --off-black: #1a1a1a;
  --black: #111;

  --light-grey: #e0e0e0;
  --dark-grey: #222;

  --light-teal: #0de;
  --dark-teal: #0bc;

  --light-yellow: #fe0;
  --dark-yellow: #f5dc00;
}

::selection {
  background-color: var( --dark-yellow );
  color: var( --off-black );
}
*, section footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, main, section, button {
  overflow: hidden;
  height: 100%;
}
html, a, button, .border {
  background-color: var( --black );
  color: var( --off-white );
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
html {
  font-size: 1.85vh;
}
header, ul, footer {
  display: flex;
  padding: 2rem;
  height: 33.333%;
}
header, header > .wrap, footer, button {
  margin: auto;
  width: 100%;
}
h2 {
  font-size: 3.25rem;
  font-weight: normal;
  text-align: left;
}
nav {
  margin-top: 0.5rem;
}
ul {
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
  height: auto;
  list-style-type: none;
  font-size: 1.25rem;
}
li a {
  position: relative;
}
li a:before {
  content: '';
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translateX( -50% );
  padding: 1.5rem 4.25rem;
}
li:nth-child( 2 ) a:before {
  padding: 1.5rem 5rem;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: var( --light-teal );
}
a:active, button:active {
  color: #111;
}
footer {
  flex-direction: column;
  height: 66.666%;
}
button {
  cursor: pointer;
  border-style: none;
  background-color: var( --off-black );
  font-size: 1.75rem;
}
button:hover {
  background-color: var( --dark-teal );
}
.border .wrap, .border:last-child {
  display: none;
}
.border {
  height: 1.5rem;
}
.dim {
  opacity: 0.5;
}
nav .dim {
  opacity: 1;
}
nav a:hover {
  color: #fff;
}
.select a {
  color: var( --dark-teal );
}
.select a:hover {
  color: var( --light-teal );
}
button:active {
  background-color: #111;
}
button .select {
  opacity: 1;
}

@media ( orientation: landscape ) {
  header {
    height: 10%;
    padding: 0rem 2rem;
  }
  .wrap, .heading {
    display: flex;
  }
  .wrap {
    justify-content: space-between;
  }
  h2, ul {
    font-size: 1.5rem;
  }
  h2 {
    margin-right: 0.5rem;
    line-height: 1.75;
    color: #fff;
  }
  ul {
    padding: 0rem;
  }
  footer {
    flex-direction: row;
    height: 90%;
  }
  .border {
    width: 1.5rem;
  }
  li {
    margin-left: 2rem;
  }
}
@media ( orientation: landscape ) and ( max-height: 600px ) and
  ( min-width: 625px ) {
  html:root {
    font-size: 2.5vh;
  }
  header {
    height: 15%;
  }
  footer {
    height: 85%;
  }
}
@media ( max-height: 700px ) and ( min-width: 600px ) {
  html {
    font-size: 2.25vh;
  }
}
@media ( orientation: portrait ) and ( max-width: 450px ) {
  html {
    font-size: 3.5vw;
  }
}
@media ( orientation: landscape ) and ( max-height: 350px ) {
  html:root {
    font-size: 2.75vh;
  }
  header {
    height: 20%;
  }
  footer {
    height: 80%;
  }
}
@media ( orientation: landscape ) and ( max-height: 200px ) {
  html:root {
    font-size: 5vh;
  }
  header {
    height: 30%;
  }
  footer {
    height: 70%;
  }
}
@media ( orientation: landscape ) and ( max-height: 75px ) {
  html:root {
    font-size: 12vh;
  }
}

.frontEndExpand button {
  border-top: solid 0.2rem var( --black );
  border-bottom: solid 0.2rem var( --black );
  height: 33.333%;
  height: 1000%; /* */
}
.frontEndExpand .frontend, .frontEndExpand .frontend .wrap {
  height: 100%;
}
.frontEndExpand .frontend .wrap {
  display: block;
  height: 100%;
}
.frontEndExpand .frontend .wrap button {
  height: 50%;
  background-color: var( --white );
  color: var( --off-black );
  color: var( --black ); /* */
  font-size: 75%; /* */
  background-color: var( --black ); /* */
  border-width: 0rem;
}
.frontEndExpand .frontend .wrap button:hover {
  background-color: var( --dark-teal );
  background-color: var( --black ); /* */
}
.frontEndExpand .frontend .wrap button:active {
  background-color: #111;
  color: #111;
  background-color: var( --black ); /* */
  color: var( --black ); /* */
}
.frontEndExpand .frontend .wrap button:first-child {
  border-bottom-color: var( --off-white );
  border-bottom-color: var( --white ); /* */
  border-bottom-width: 0rem; /* */
}
.frontEndExpand .frontend .wrap button:last-child {
  border-top-color: var( --off-white );
  border-top-color: var( --white ); /* */
  border-top-width: 0rem; /* */
}
.frontEndExpand .space {
  height: 0%;
}

.open button {
  height: 33.333%;
}
.open .frontend .wrap button {
  background-color: var( --white );
  color: var( --off-black );
  font-size: 1.75rem;
  border-width: 0rem;
}
.open .frontend .wrap button:hover {
  background-color: var( --off-white );
}
.open .frontend .wrap button:active {
  background-color: var( --white );
  color: var( --white );
}
.open .frontend .wrap button:first-child {
  border-bottom-color: var( --off-white );
  border-bottom-width: 0.2rem;
}
.open .frontend .wrap button:last-child {
  border-top-color: var( --off-white );
  border-top-width: 0.2rem;
}
.frontEndExpand .space {
  height: 0%;
}
.open #frontend {
  border-bottom-width: 0.4rem;
}
.open #backend {
  border-top-width: 0.4rem;
}
button {
  transition-property: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media ( orientation: landscape ) {
  .frontEndExpand button {
    border-top: none;
    border-bottom: none;
    border-left: solid 0.2rem var( --black );
    border-right: solid 0.2rem var( --black );
    height: 100%;
    width: 33.333%;
    font-size: 1rem;
  }
  .frontEndExpand > button:first-of-type {
    border-left: none;
  }
  .frontEndExpand > button:last-of-type {
    border-right: none;
  }  
  .frontEndExpand .frontend, .frontEndExpand .frontend .wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .frontEndExpand .frontend .wrap button {
    height: 100%;
    width: 50%;
    background-color: var( --white );
    color: var( --off-black );
  }
  .frontEndExpand .frontend .wrap button:first-child {
    border-left-color: var( --black );
    border-right-color: var( --off-white );
  }
  .frontEndExpand .frontend .wrap button:last-child {
    border-left-color: var( --off-white );
    border-right-color: var( --black );
  }
  .frontEndExpand .space {
    height: 100%;
    width: 0%;
  }  
}

@media ( orientation: landscape ) {
  button {
    transition-property: width;
  }
  .open .frontend .wrap button {
    border-width: 0.4rem;
    font-size: 1rem;
  }
  .open #frontend {
    border-width: 0rem;
    border-left-width: 0.4rem;
  }
  .open #backend {
    border-left-width: 0.4rem;
  }
}
