:root {
  --white: #f5f5f5;
  --off-white: #ededed;

  --off-black: #1a1a1a;
  --black: #111;

  --light-grey: #e5e5e5;
  --dark-grey: #222;

  --light-teal: #0de;
  --dark-teal: #0bc;

  --light-yellow: #fe0;
  --dark-yellow: #f5dc00;
}

::selection {
  background-color: var( --dark-yellow );
  color: var( --off-black );
}
*, section footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, main, section, button {
  overflow: hidden;
  height: 100%;
}
html, a, button, .border {
  background-color: var( --black );
  color: var( --off-white );
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
html {
  font-size: 1.85vh;
}
header, ul, footer {
  display: flex;
  padding: 2rem;
  height: 33.333%;
}
header, header > .wrap, footer, button {
  margin: auto;
  width: 100%;
}
h2 {
  font-size: 3.25rem;
  font-weight: normal;
  text-align: left;
}
nav {
  margin-top: 0.5rem;
}
ul {
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
  height: auto;
  list-style-type: none;
  font-size: 1.25rem;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: var( --light-teal );
}
a:active, button:active {
  color: #111;
}
footer {
  flex-direction: column;
  height: 66.666%;
}
button {
  cursor: pointer;
  border-style: none;
  background-color: var( --off-black );
  font-size: 1.75rem;
}
button:hover {
  background-color: var( --dark-teal );
}
.border .wrap, .border:last-child {
  display: none;
}
.border {
  height: 1.5rem;
}
.dim {
  opacity: 0.5;
}
button:active {
  background-color: #111;
}

@media ( orientation: landscape ) {
  header {
    height: 10%;
    padding: 0rem 2rem;
  }
  .wrap, .heading {
    display: flex;
  }
  .wrap {
    justify-content: space-between;
  }
  h2, ul {
    font-size: 1.5rem;
  }
  h2 {
    margin-right: 0.5rem;
    line-height: 1.75;
    color: #fff;
  }
  ul {
    padding: 0rem;
  }
  footer {
    flex-direction: row;
    height: 90%;
  }
  .border {
    width: 1.5rem;
  }
  li {
    margin-left: 2rem;
  }
}
@media ( orientation: portrait ) and ( max-width: 450px ) {
  html {
    font-size: 3.5vw;
  }
}
