@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
html {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;    
    font-size: 2vh;  
}
body {
    background-image: url( '../res/background.png' );
    background-size: cover;
    display: flex;
}
section {
    margin: auto;
    padding: 3rem;
    border-radius: 1rem;
    height: 90%;
    display: flex;
    backdrop-filter: blur( 0.5rem );
    background-color: rgba(255, 255, 255, 0.127);
}
div {
    margin: auto;
}
header {
    margin: 2rem;
}
h1, h2 {
    text-align: center;
}
ol {
    font-size: 1.25rem;
    list-style-position: inside;
}
